* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    background-color: #F1EDDC;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .8fr 1.5fr 1.5fr 1.8fr;
    grid-template-areas: "nav nav nav nav"
    "sidebar main main main"
    "sidebar porfolio porfolio porfolio "
    "sidebar porfolio porfolio porfolio"
    "footer footer footer footer";
    grid-gap: 0.2rem;
}

header {
    background: #C2CCBA;
    padding: 20px;
    grid-area: nav;
    font-family: Helvetica, sans-serif;
    color: azure;
}
header h1 .mtz  {
        color: #2F4858;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
}
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 15px;
    padding-top: 10px;
    position: relative;
    
}

.header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

p {
    font-size: 14px;
}

main {
    background: #6B8A87;
    grid-area: main;
}

#sidebar {
    background: #486970;
    grid-area: sidebar;
}

#porfolio {
    background: #95AB9E;
    grid-area: porfolio;
    display: flex;
    flex-direction: column;
}

.card-main {
    grid-column: 1 / 3;
    grid-row: 1;
}
.card {
    grid-column: 2;
    grid-row: 2;
    border-style: solid;
    background-color:#d9dcd6;
    border-width: 5px;
    border-color: #ffffff;
    padding: 10px;
    float: left;
    width: 25%;
}

.card header {
    grid-column: 1/3;
    padding: 20px;
}
.card p {
    text-align: center;
}

.card img {
    width: 100%;
}

#footer{
    background: #2F4858;
    grid-area: footer;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas: "nav"
    "main"
    "sidebar"
    "content1"
    "content2"
    "content3"
    "content4"
    "footer";
    }
    header {
    background: #837783;
    }
}


@media screen and (max-width: 992px) {
    .card {
    width: 50%;
    }
    header {
    background: #837783;
    }
}


@media screen and (max-width: 768px) {
    .card {
    width: 100%;
    }
    header {
    background: #837783;
    }
}

.footer {
    grid-column: 1 / 3;
    grid-row: 3;
    padding: 30px;
    clear: both;
    background-color: #e3d8e3;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 38px;
}