* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    background-color: #d9dcd6;
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Helvetica, sans-serif;
;
    background-color: #e3d8e3;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .mtz {
    color: #837783;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Helvetica', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.landing {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../img/design-space-paper-textured-background.jpg");
    background-size: cover;
    background-position: center;
}

.contact-info {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9dcd6;
}

.about-me-style {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#030303;
    color: #ffffff;
}

.contact-info-style {
    margin-bottom: 32px;
    color:#ffffff;
}

.contact-info-style h3 {
    margin-bottom: 10px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
}

.card {
    border-style: solid;
    background-color:#d9dcd6;
    border-width: 5px;
    border-color: #ffffff;
    padding: 10px;
    float: left;
    width: 25%;
}
.card-aboutme {
    border-style: solid;
    background-color:#d9dcd6;
    border-color: #ffffff;
    border-width: 5px;
    padding: 10px;
    float: left;
    width: 100%;
}

.card header {
    padding: 20px;
}
.card p {
    text-align: center;
}

.card img {
    width: 100%;
} @media screen and (max-width: 992px) {
    .card {
    width: 50%;
    }
    header {
    background: #837783;
    }
}


@media screen and (max-width: 768px) {
    .card {
    width: 100%;
    }
    header {
    background: #837783;
    }
}

.footer {
    padding: 30px;
    clear: both;
    background-color: #e3d8e3;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 38px;
}
